<script src="https://giscus.app/client.js"
        data-repo="dcluna/dcluna.github.io"
        data-repo-id="MDEwOlJlcG9zaXRvcnkxMDIwODQyMQ=="
        data-category="Announcements"
        data-category-id="DIC_kwDOAJvEpc4CwQOS"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
